:root { 
--bg:#0f1724;
--card:rgba(255,255,255,0.06);
--text:#fff;
--text-2:rgba(255,255,255,0.8);
--accent:#4CAF50;
--border:rgba(255,255,255,0.15);
}
*{
margin:0;
padding:0;
box-sizing:border-box;
}
#PRIMEIRA{
    height: 380px;
    width: 700px;
    background-color:rgba(255,255,255,0.06);
    justify-content: center;
    align-items: center;
    border-radius: 12px ;
}
body{
    background-color: #0f1724;
    margin: 50px 50px;
    padding: 50px 50px;
    display: flex;
    color: white;
    margin: opx;
    justify-content: center;
    align-items: center;
}
label{
 display: block;
 margin: 1x;
 font-weight: bold;
}
button{
    background-color: rgb(21, 187, 21);
}
input{
    width: 95%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #111;
    color: white;
    margin-bottom: 2px;
}
button{
width: 98%;
padding: 12px;
border-radius: 6px;
}
button:hover{
    background-color: #fff;
}
.a1{
    text-decoration: none;
    color: #fff;
}
.a1:hover{
    color: #4CAF50;
}
