<nav class="site-nav">
  <div class="nav-bar">
    <div class="nav-left">
      <a class="brand" href="index.html">Mônica & Amigos</a>
      <div class="nav-links">
        <a href="index.html">Início</a>
        <a href="biblioteca.html">Biblioteca</a>
        <a href="playlists.html">Playlists</a>
        <a href="ranking.html">Ranking</a>
        <a href="sobre.html">Sobre</a>
      </div>
    </div>

    <div class="nav-right">
      <input id="nav-search" class="nav-search" placeholder="Pesquisar">
      <a class="btn-login" href="login.html">Entrar</a>
    </div>
  </div>
</nav>
